

.global{
    background-image: url("../assets/images/boxing-training-gym.jpg");
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
}


.row{
    margin-top: 35px;


}
