<div class="box">
    <div class="field">
        <label class="label">Cantidad Rounds</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Tiempo por round</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>

    <div class="field">
        <label class="label">Tiempo por descanso</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
</div>

