<div class="tabs is-toggle is-fullwidth is-large">
    <ul>
        <li [ngClass]="{'is-active' : route == '/round'}">
            <a>
                <span class="icon"><i class="fas fa-image" aria-hidden="true"></i></span>
                <span>Rounds</span>
            </a>
        </li>
        <li [ngClass]="{'is-active' : route == '/descanso'}">
            <a>
                <span class="icon"><i class="fas fa-music" aria-hidden="true"></i></span>
                <span>Fight</span>
            </a>
        </li>
    </ul>
</div>